In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.18'

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///InPTA.db', echo = True)

In [4]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [5]:
from sqlalchemy import Column, Integer, String, Float

In [6]:
# Creating table Telescopes
class telescopes(Base):
    __tablename__ = 'telescopes'
    
    ID = Column(String(45), primary_key=True)
    name = Column(String(45))
    latitude = Column(Float)
    longitude = Column(Float)

    def __repr__(self):
        return "<telescopes(ID='%s',name='%s', latitude='%f',longitude='%f')>" % (self.ID,self.name, self.latitude, self.longitude)

In [7]:
telescopes.__table__

Table('telescopes', MetaData(bind=None), Column('ID', String(length=45), table=<telescopes>, primary_key=True, nullable=False), Column('name', String(length=45), table=<telescopes>), Column('latitude', Float(), table=<telescopes>), Column('longitude', Float(), table=<telescopes>), schema=None)

In [8]:
Base.metadata.create_all(engine)

2020-07-31 13:22:02,837 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-07-31 13:22:02,843 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 13:22:02,846 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-07-31 13:22:02,847 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 13:22:02,849 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("telescopes")
2020-07-31 13:22:02,850 INFO sqlalchemy.engine.base.Engine ()

In [9]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [10]:
from sqlalchemy import Column, Integer, String

In [11]:
#Creating table Members
class members(Base):
    __tablename__ = 'members'
    
    ID = Column(Integer, primary_key=True)
    name = Column(String(45))
    username = Column(String(45))
    email = Column(String(45))

    def __repr__(self):
        return "<members(ID='%d',name='%s',username='%s',email='%s' )>" % (self.ID,self.name, self.username,self.email)

In [12]:
members.__table__

Table('members', MetaData(bind=None), Column('ID', Integer(), table=<members>, primary_key=True, nullable=False), Column('name', String(length=45), table=<members>), Column('username', String(length=45), table=<members>), Column('email', String(length=45), table=<members>), schema=None)

In [13]:
Base.metadata.create_all(engine)

2020-07-31 13:22:07,109 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("members")
2020-07-31 13:22:07,110 INFO sqlalchemy.engine.base.Engine ()

In [14]:
mem1 = members(name='nikita', username='nikita123')

In [15]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [16]:
session.add(mem1)

In [17]:
#Trial to add data
m1 = session.query(members).filter_by(name='nikita').first()

2020-07-31 13:22:13,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-31 13:22:13,196 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-07-31 13:22:13,196 INFO sqlalchemy.engine.base.Engine ('nikita', 'nikita123', None)
2020-07-31 13:22:13,263 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.name = ?
 LIMIT ? OFFSET ?
2020-07-31 13:22:13,264 INFO sqlalchemy.engine.base.Engine ('nikita', 1, 0)

In [18]:
m1 is mem1

False

In [19]:
m2 = members(name='abc', username='abc123')
m3 = members(name='xyz', username='xyz456')
session.add_all([m2, m3])

In [20]:
session.commit()

2020-07-31 13:22:19,452 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-07-31 13:22:19,453 INFO sqlalchemy.engine.base.Engine ('abc', 'abc123', None)
2020-07-31 13:22:19,454 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-07-31 13:22:19,455 INFO sqlalchemy.engine.base.Engine ('xyz', 'xyz456', None)
2020-07-31 13:22:19,456 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
# testing
m1.ID

2020-07-31 13:22:20,018 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-31 13:22:20,019 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members."ID" = ?
2020-07-31 13:22:20,021 INFO sqlalchemy.engine.base.Engine (1,)

1

In [22]:
m3.ID

2020-07-31 13:22:23,887 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members."ID" = ?
2020-07-31 13:22:23,887 INFO sqlalchemy.engine.base.Engine (15,)

15

In [23]:
m1.name

'nikita'

In [24]:
m2.username

2020-07-31 13:22:29,468 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members."ID" = ?
2020-07-31 13:22:29,469 INFO sqlalchemy.engine.base.Engine (14,)

'abc123'

In [25]:
for members in session.query(members).order_by(members.ID):
    print(members.ID,members.name, members.username)

2020-07-31 13:22:30,637 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members ORDER BY members."ID"
2020-07-31 13:22:30,638 INFO sqlalchemy.engine.base.Engine ()
1 nikita nikita123
2 abc abc123
3 xyz xyz456
4 nikita nikita123
5 abc abc123
6 xyz xyz456
7 nikita nikita123
8 abc abc123
9 xyz xyz456
10 nikita nikita123
11 abc abc123
12 xyz xyz456
13 nikita nikita123
14 abc abc123
15 xyz xyz456

In [26]:
from sqlalchemy import func

session.query(func.count(members.ID)).scalar()

2020-07-31 13:22:32,313 INFO sqlalchemy.engine.base.Engine SELECT count(?) AS count_1
2020-07-31 13:22:32,314 INFO sqlalchemy.engine.base.Engine (15,)

1

In [27]:
session.query(func.sum(members.ID)).scalar()

2020-07-31 13:22:34,517 INFO sqlalchemy.engine.base.Engine SELECT sum(?) AS sum_1
2020-07-31 13:22:34,519 INFO sqlalchemy.engine.base.Engine (15,)

15

In [28]:
#Trial for Foreign Key
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Proposal(Base):
    __tablename__ = 'Proposal'
    
    Number = Column(String, primary_key=True)
    Cycle_Number = Column(Float,nullable = False)
    Title = Column(String, nullable=False)
    #Telescope_ID = Column(String,ForeignKey('telescopes.ID') )
    PI_ID = Column(Integer,ForeignKey('members.ID') )
    
    
    # Access the user corresponding to an address.
    members = relationship("members", back_populates="Proposal")

    def __repr__(self):
        return "<Proposal(PI_ID='%s')>" % self.PI_ID

In [29]:
Base.metadata.create_all(engine)

2020-07-31 13:22:39,243 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("members")
2020-07-31 13:22:39,245 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 13:22:39,247 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Proposal")
2020-07-31 13:22:39,248 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 13:22:39,249 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Proposal")
2020-07-31 13:22:39,250 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 13:22:39,252 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Proposal" (
	"Number" VARCHAR NOT NULL,
	"Cycle_Number" FLOAT NOT NULL,
	"Title" VARCHAR NOT NULL,
	"PI_ID" INTEGER,
	PRIMARY KEY ("Number"),
	FOREIGN KEY("PI_ID") REFERENCES members ("ID")
)


2020-07-31 13:22:39,253 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 13:22:39,758 INFO sqlalchemy.engine.base.Engine COMMIT