In [1]:
import sqlalchemy

In [2]:
import numpy as np

In [3]:
from io import StringIO

In [4]:
sqlalchemy.__version__

'1.3.18'

In [5]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///InPTA.db', echo = True)

In [6]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [7]:
from sqlalchemy import Column, Integer, String, Float

In [8]:
# Creating table Telescopes
class telescopes(Base):
    __tablename__ = 'telescopes'
    
    ID = Column(String(45), primary_key=True)
    name = Column(String(45))
    latitude = Column(Float)
    longitude = Column(Float)

    def __repr__(self):
        return "<telescopes(ID='%s',name='%s', latitude='%f',longitude='%f')>" % (self.ID,self.name, self.latitude, self.longitude)

In [9]:
telescopes.__table__

Table('telescopes', MetaData(bind=None), Column('ID', String(length=45), table=<telescopes>, primary_key=True, nullable=False), Column('name', String(length=45), table=<telescopes>), Column('latitude', Float(), table=<telescopes>), Column('longitude', Float(), table=<telescopes>), schema=None)

In [10]:
Base.metadata.create_all(engine)

2020-08-09 12:50:41,465 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-08-09 12:50:41,469 INFO sqlalchemy.engine.base.Engine ()
2020-08-09 12:50:41,473 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-08-09 12:50:41,478 INFO sqlalchemy.engine.base.Engine ()
2020-08-09 12:50:41,483 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("telescopes")
2020-08-09 12:50:41,483 INFO sqlalchemy.engine.base.Engine ()

In [11]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [12]:
from sqlalchemy import Column, Integer, String

In [13]:
#Creating table Members
class members(Base):
    __tablename__ = 'members'
    
    ID = Column(Integer, primary_key=True)
    name = Column(String(45))
    username = Column(String(45))
    email = Column(String(45))

    def __repr__(self):
        return "<members(ID='%d',name='%s',username='%s',email='%s' )>" % (self.ID,self.name, self.username,self.email)

In [14]:
members.__table__

Table('members', MetaData(bind=None), Column('ID', Integer(), table=<members>, primary_key=True, nullable=False), Column('name', String(length=45), table=<members>), Column('username', String(length=45), table=<members>), Column('email', String(length=45), table=<members>), schema=None)

In [15]:
Base.metadata.create_all(engine)

2020-08-09 12:50:41,961 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("members")
2020-08-09 12:50:41,964 INFO sqlalchemy.engine.base.Engine ()

In [16]:
mem1 = members(name='nikita', username='nikita123')

In [17]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [18]:
session.add(mem1)

In [19]:
#Trial to add data
m1 = session.query(members).filter_by(name='nikita').first()

2020-08-09 12:50:42,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-09 12:50:42,473 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-08-09 12:50:42,479 INFO sqlalchemy.engine.base.Engine ('nikita', 'nikita123', None)
2020-08-09 12:50:42,517 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.name = ?
 LIMIT ? OFFSET ?
2020-08-09 12:50:42,519 INFO sqlalchemy.engine.base.Engine ('nikita', 1, 0)

In [20]:
m1 is mem1

False

In [21]:
m2 = members(name='abc', username='abc123')
m3 = members(name='xyz', username='xyz456')
session.add_all([m2, m3])

In [22]:
session.commit()

2020-08-09 12:50:42,895 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-08-09 12:50:42,899 INFO sqlalchemy.engine.base.Engine ('abc', 'abc123', None)
2020-08-09 12:50:42,900 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-08-09 12:50:42,905 INFO sqlalchemy.engine.base.Engine ('xyz', 'xyz456', None)
2020-08-09 12:50:42,909 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
# testing
m1.ID

2020-08-09 12:50:43,142 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-09 12:50:43,143 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members."ID" = ?
2020-08-09 12:50:43,146 INFO sqlalchemy.engine.base.Engine (1,)

1

In [24]:
m3.ID

2020-08-09 12:50:43,251 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members."ID" = ?
2020-08-09 12:50:43,254 INFO sqlalchemy.engine.base.Engine (30,)

30

In [25]:
m1.name

'nikita'

In [26]:
m2.username

2020-08-09 12:50:43,515 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members."ID" = ?
2020-08-09 12:50:43,518 INFO sqlalchemy.engine.base.Engine (29,)

'abc123'

In [27]:
for members in session.query(members).order_by(members.ID):
    print(members.ID,members.name, members.username)

2020-08-09 12:50:43,610 INFO sqlalchemy.engine.base.Engine SELECT members."ID" AS "members_ID", members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members ORDER BY members."ID"
2020-08-09 12:50:43,613 INFO sqlalchemy.engine.base.Engine ()
1 nikita nikita123
2 abc abc123
3 xyz xyz456
4 nikita nikita123
5 abc abc123
6 xyz xyz456
7 nikita nikita123
8 abc abc123
9 xyz xyz456
10 nikita nikita123
11 abc abc123
12 xyz xyz456
13 nikita nikita123
14 abc abc123
15 xyz xyz456
16 nikita nikita123
17 abc abc123
18 xyz xyz456
19 nikita nikita123
20 abc abc123
21 xyz xyz456
22 nikita nikita123
23 abc abc123
24 xyz xyz456
25 nikita nikita123
26 abc abc123
27 xyz xyz456
28 nikita nikita123
29 abc abc123
30 xyz xyz456

In [28]:
from sqlalchemy import func

session.query(func.count(members.ID)).scalar()

2020-08-09 12:50:43,679 INFO sqlalchemy.engine.base.Engine SELECT count(?) AS count_1
2020-08-09 12:50:43,681 INFO sqlalchemy.engine.base.Engine (30,)

1

In [29]:
session.query(func.sum(members.ID)).scalar()

2020-08-09 12:50:43,761 INFO sqlalchemy.engine.base.Engine SELECT sum(?) AS sum_1
2020-08-09 12:50:43,766 INFO sqlalchemy.engine.base.Engine (30,)

30

In [30]:
#Trial for Foreign Key
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Proposal(Base):
    __tablename__ = 'Proposal'
    
    Number = Column(String, primary_key=True)
    Cycle_Number = Column(Float,nullable = False)
    Title = Column(String, nullable=False)
    #Telescope_ID = Column(String,ForeignKey('telescopes.ID') )
    PI_ID = Column(Integer,ForeignKey('members.ID') )
    
    
    # Access the user corresponding to an address.
    members = relationship("members", back_populates="Proposal")

    def __repr__(self):
        return "<Proposal(PI_ID='%s')>" % self.PI_ID

In [31]:
Base.metadata.create_all(engine)

2020-08-09 12:50:43,985 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("members")
2020-08-09 12:50:43,988 INFO sqlalchemy.engine.base.Engine ()
2020-08-09 12:50:43,996 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Proposal")
2020-08-09 12:50:43,999 INFO sqlalchemy.engine.base.Engine ()

In [56]:
psrinfo = np.genfromtxt(r'C:\Users\nikita.agarwal\Downloads\psrs.txt',dtype=str)

In [57]:
print(psrinfo)

[['PSRJ' 'RAJ' 'DECJ']
 ['J0002+6216' '00:02:58.17' '+62:16:09.4']
 ['J0006+1834' '00:06:04.8' '+18:34:59']
 ...
 ['J2352+65' '23:52' '+65']
 ['J2354-22' '23:54:26' '-22:51:53']
 ['J2354+6155' '23:54:04.724' '+61:55:46.79']]

In [60]:
userinfo = np.genfromtxt(r'C:\Users\nikita.agarwal\Downloads\users.txt',dtype=str)

ValueError: Some errors were detected !
    Line #3 (got 4 columns instead of 3)
    Line #4 (got 5 columns instead of 3)
    Line #5 (got 4 columns instead of 3)
    Line #6 (got 5 columns instead of 3)
    Line #7 (got 4 columns instead of 3)
    Line #9 (got 4 columns instead of 3)
    Line #10 (got 4 columns instead of 3)
    Line #11 (got 4 columns instead of 3)
    Line #12 (got 4 columns instead of 3)
    Line #13 (got 4 columns instead of 3)
    Line #14 (got 4 columns instead of 3)
    Line #15 (got 4 columns instead of 3)
    Line #16 (got 4 columns instead of 3)
    Line #17 (got 5 columns instead of 3)
    Line #18 (got 4 columns instead of 3)
    Line #19 (got 5 columns instead of 3)
    Line #20 (got 4 columns instead of 3)
    Line #21 (got 4 columns instead of 3)
    Line #22 (got 4 columns instead of 3)
    Line #23 (got 4 columns instead of 3)
    Line #24 (got 4 columns instead of 3)