In [73]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import relationship

In [74]:
import numpy as np

In [75]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///InPTA.db', echo = True)

In [76]:
Base = declarative_base()

In [77]:
class Member(Base):
    __tablename__ = 'members'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    username = Column(String(45))
    email = Column(String(100))

    def __repr__(self):
        return "<Member(id='%s', name='%s', username='%s')>" % (self.id, self.name, self.username)

In [78]:
userinfos = np.genfromtxt(r'users.txt',dtype=str,delimiter='\t',skip_header=1)

In [79]:
#print(userinfos)

In [80]:
def hms_to_rad(raj):
    if raj.count(':') == 2:
        hh, mm, ss = raj.split(':')
        rad = (float(hh) + float(mm)/60. + float(ss)/3600.)*np.pi/12.
        return rad
    elif raj.count(':') == 1:
        hh, mm = raj.split(':')
        rad = (float(hh) + float(mm)/60.)*np.pi/12.
        return rad
    elif raj.count(':') == 0:
        rad = (float(raj))*np.pi/12.
        return rad
    
def dms_to_rad(decj):
    if decj.count(':') == 2:
        dd, mm, ss = decj.split(':')
        sign = np.sign(float(dd))
        rad = sign*(sign*float(dd) + float(mm)/60. + float(ss)/3600.)*np.pi/180.
        return rad
    elif decj.count(':') == 1:
        dd, mm = decj.split(':')
        sign = np.sign(float(dd))
        rad = sign*(sign*float(dd) + float(mm)/60.)*np.pi/180.
        return rad
    elif decj.count(':') == 0:
        rad = (float(decj))*np.pi/180.
        return rad

In [81]:
class Source(Base):
    __tablename__ = 'sources'
    
    jname = Column(String(45), primary_key=True)
    srctype = Column(String(10))
    raj = Column(Float)
    decj = Column(Float)
        
    def __repr__(self):
        return "<Source(JName='%s',SrcType='%s', RA='%s', DEC='%s')>" % (self.jname,self.srctype,self.raj,self.decj)

In [82]:
psrinfos = np.genfromtxt(r'psrs.txt',skip_header=1,dtype=str,delimiter='\t')

In [83]:
print(psrinfos)

[['J0002+6216' '00:02:58.17' '+62:16:09.4']
 ['J0006+1834' '00:06:04.8' '+18:34:59']
 ['J0007+7303' '00:07:01.7' '+73:03:07.4']
 ...
 ['J2352+65' '23:52' '+65']
 ['J2354-22' '23:54:26' '-22:51:53']
 ['J2354+6155' '23:54:04.724' '+61:55:46.79']]

In [84]:
class Telescope(Base):
    __tablename__ = 'telescopes'
    
    id = Column(String(10), primary_key=True)
    name = Column(String(45))
    lat = Column(Float)
    long = Column(Float)

    def __repr__(self):
        return "<Telescope('%s')>" % (self.id)

In [85]:
class Proposal(Base):
    __tablename__ = 'proposals'
    
    number = Column(String(10), primary_key=True)
    cycle_number = Column(Integer)
    title = Column(String(500))
    telescope_id = Column(String(10), ForeignKey("telescopes.id")) 
    pi_id = Column(Integer, ForeignKey("members.id")) # The foreign key is given like "tablename.fieldname".
    file = Column(String(500))
    
    telescope = relationship("Telescope")
    PI = relationship("Member")

    def __repr__(self):
        return "<Proposal(number='%s',title='%s')>" % (self.number, self.title)

In [86]:
proposalinfs = np.genfromtxt(r'pr.txt',dtype=str,skip_header=1,delimiter=',')

In [87]:
print(proposalinfs)

[['38_014' '38'
  'Indian Pulsar Timing Array (InPTA) experiment using the upgraded wideband GMRT and the ORTT : 2020 Update'
  ' bcj']
 ['37_010' '37'
  'Indian Pulsar Timing Array (InPTA) experiment using the upgraded wideband GMRT and the ORT : 2019 Update'
  'bcj']
 ['37_013' '37'
  'A Study of possible profile mode changes in the millisecond pulsar J2124-3358'
  'achoudhary']
 ['35_016' '35'
  'Indian Pulsar Timing Array (InPTA) experiment using the upgraded wideband GMRT and the ORT'
  'bcj']
 ['34_102' '34'
  'Indian Pulsar Timing Array (InPTA) experiment using the upgraded wideband GMRT and the ORT'
  'bcj']
 ['33_062' '33'
  'Extending timing baseline for the ORTGMRT Indian Pulsar Timing Array (InPTA) experiment'
  'bcj']
 ['33_076' '33' 'Towards precision pulsar timing with the upgraded GMRT'
  'ygupta']
 ['32_032' '32' 'Towards precision pulsar timing with the upgraded GMRT'
  'ygupta']
 ['32_092' '32'
  'Extending timing baseline for the ORTGMRT Indian Pulsar Timing Array (InPTA) experiment'
  'bcj']
 ['31_057' '31' 'Towards precision pulsar timing with the upgraded GMRT'
  'ygupta']
 ['31_107' '31'
  'Extending timing baseline for the pilot proposal for Indian Pulsar Timing Array (InPTA)'
  'bcj']
 ['30_043' '30'
  'Towards high precision pulsar timing with the upgraded GMRT' 'ygupta']
 ['30_050' '30'
  'Continuing observations for a Pilot proposal for an Indian Pulsar Timing Array (IndPTA)'
  'bcj']
 ['29_064' '29'
  'A Pilot proposal for an Indian Pulsar Timing Array (IndPTA)' 'bcj']]

In [88]:
Base.metadata.create_all(engine)

2020-09-10 16:18:01,216 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-10 16:18:01,219 INFO sqlalchemy.engine.base.Engine ()
2020-09-10 16:18:01,225 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-10 16:18:01,228 INFO sqlalchemy.engine.base.Engine ()
2020-09-10 16:18:01,231 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("members")
2020-09-10 16:18:01,233 INFO sqlalchemy.engine.base.Engine ()
2020-09-10 16:18:01,236 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sources")
2020-09-10 16:18:01,237 INFO sqlalchemy.engine.base.Engine ()
2020-09-10 16:18:01,239 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("telescopes")
2020-09-10 16:18:01,240 INFO sqlalchemy.engine.base.Engine ()
2020-09-10 16:18:01,243 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("proposals")
2020-09-10 16:18:01,244 INFO sqlalchemy.engine.base.Engine ()

In [89]:
Session = sessionmaker(bind=engine)
session = Session()

In [90]:
#session.rollback()

In [91]:
#testsrc = Source(jname="J0002+6216", raj="00:02:58.17", decj="+62:16:09.4", srctype="PSR")
#session.add(testsrc)
#session.commit()

#testsrc = session.query(Source).filter(Source.jname=='J0002+6216').one()

In [92]:
psrinfos

array([['J0002+6216', '00:02:58.17', '+62:16:09.4'],
       ['J0006+1834', '00:06:04.8', '+18:34:59'],
       ['J0007+7303', '00:07:01.7', '+73:03:07.4'],
       ...,
       ['J2352+65', '23:52', '+65'],
       ['J2354-22', '23:54:26', '-22:51:53'],
       ['J2354+6155', '23:54:04.724', '+61:55:46.79']], dtype='<U16')

In [93]:
plsrinfs = [Source(jname=PSRJ, raj=hms_to_rad(RAJ), decj=dms_to_rad(DECJ), srctype="PSR") for PSRJ, RAJ, DECJ in psrinfos]

In [94]:
plsrinfs[1]

In [95]:
session.add_all(plsrinfs)
session.rollback()
session.commit()

In [96]:
p = session.query(Source).filter_by(jname='J0002+6216').first()

2020-09-10 16:18:08,534 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-10 16:18:08,538 INFO sqlalchemy.engine.base.Engine SELECT sources.jname AS sources_jname, sources.srctype AS sources_srctype, sources.raj AS sources_raj, sources.decj AS sources_decj
FROM sources
WHERE sources.jname = ?
 LIMIT ? OFFSET ?
2020-09-10 16:18:08,540 INFO sqlalchemy.engine.base.Engine ('J0002+6216', 1, 0)

In [97]:
p

In [98]:
for Source in session.query(Source).order_by(Source.jname):
    print( Source.jname,Source.srctype, Source.raj,Source.decj)

2020-09-10 16:18:11,381 INFO sqlalchemy.engine.base.Engine SELECT sources.jname AS sources_jname, sources.srctype AS sources_srctype, sources.raj AS sources_raj, sources.decj AS sources_decj
FROM sources ORDER BY sources.jname
2020-09-10 16:18:11,384 INFO sqlalchemy.engine.base.Engine ()
J0002+6216 PSR 0.0064784440172464515 1.0868039200611601

In [99]:
#mrt = Telescope(id='GMRT', name='Giant Meterwave Radio Telescope', lat=0.33329486135, long=1.29241146296)
#ession.add(gmrt)
#session.commit()

gmrt = session.query(Telescope).filter(Telescope.id=='GMRT').one()

2020-09-10 16:18:17,604 INFO sqlalchemy.engine.base.Engine SELECT telescopes.id AS telescopes_id, telescopes.name AS telescopes_name, telescopes.lat AS telescopes_lat, telescopes.long AS telescopes_long
FROM telescopes
WHERE telescopes.id = ?
2020-09-10 16:18:17,606 INFO sqlalchemy.engine.base.Engine ('GMRT',)

In [100]:
#testmember = Member(name="Test User", username="testuser", email="testusersassd@gmail.com")
#session.add(testmember)
#session.commit()
#testuser = session.query(Member).filter(Member.username=='testuser').one()

In [101]:
members = [Member(name=name, email=email, username=uname) for name, email,uname in userinfos]

In [102]:
session.add_all(members)
session.commit()

2020-09-10 16:18:23,682 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,685 INFO sqlalchemy.engine.base.Engine ('Abhimanyu Susobhanan', 'asusobhanan', 'abhisrkckl@gmail.com')
2020-09-10 16:18:23,687 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,688 INFO sqlalchemy.engine.base.Engine ('Arpita Choudhary', 'achoudhary', 'arp.astro@gmail.com')
2020-09-10 16:18:23,690 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,691 INFO sqlalchemy.engine.base.Engine ('Arun Kumar Naidu', 'arun', 'arunnaidu123@gmail.com')
2020-09-10 16:18:23,693 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,694 INFO sqlalchemy.engine.base.Engine ('Avishek Basu', 'avishek', 'avishekbs3@gmail.com')
2020-09-10 16:18:23,696 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,697 INFO sqlalchemy.engine.base.Engine ('Bhal Chandra Joshi', 'bcj', 'bcj@ncra.tifr.res.in')
2020-09-10 16:18:23,699 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,700 INFO sqlalchemy.engine.base.Engine ('Dhruv Pathak', 'dhruv.pathak', 'pathakdhruv9786@gmail.com')
2020-09-10 16:18:23,702 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,703 INFO sqlalchemy.engine.base.Engine ('Achamveedu Gopakumar', '', 'gopu.tifr@gmail.com')
2020-09-10 16:18:23,705 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,706 INFO sqlalchemy.engine.base.Engine ('Jaikhomba Singha', 'jsingha', 'mjaikhomba@gmail.com')
2020-09-10 16:18:23,708 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,709 INFO sqlalchemy.engine.base.Engine ('Kishalay De', 'kishalay', 'kde@astro.caltech.edu')
2020-09-10 16:18:23,714 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,715 INFO sqlalchemy.engine.base.Engine ('Krishnakumar MA', 'kkma', 'kk.ambalappat@gmail.com')
2020-09-10 16:18:23,716 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,718 INFO sqlalchemy.engine.base.Engine ('Lankeswar Dey', 'lankeswar.dey', 'lanky441@gmail.com')
2020-09-10 16:18:23,719 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,720 INFO sqlalchemy.engine.base.Engine ('Manjari Bagchi', 'mbagchi', 'manjari.bagchi@gmail.com')
2020-09-10 16:18:23,722 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,722 INFO sqlalchemy.engine.base.Engine ('Mayuresh Surnis', 'mpsurnis', 'msurnis@gmail.com')
2020-09-10 16:18:23,724 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,725 INFO sqlalchemy.engine.base.Engine ('Neelam Dhanda', 'nbatra', 'neelam.dhanda@gmail.com')
2020-09-10 16:18:23,727 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,729 INFO sqlalchemy.engine.base.Engine ('Nobleson K', 'nkunjappy', 'noble.son.k@gmail.com')
2020-09-10 16:18:23,730 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,732 INFO sqlalchemy.engine.base.Engine ('P. K. Manoharan', 'mano', 'mano.rac@gmail.com')
2020-09-10 16:18:23,733 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,735 INFO sqlalchemy.engine.base.Engine ('Raghav Girgaonkar', 'raghav', 'raghav.girgaonkar@gmail.com')
2020-09-10 16:18:23,736 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,738 INFO sqlalchemy.engine.base.Engine ('Sai Chaitanya Susarla', 'ssusarla', 'saichaitus.99@gmail.com')
2020-09-10 16:18:23,741 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,752 INFO sqlalchemy.engine.base.Engine ('Shantanu Desai', 'shantanu', 'shntn05@gmail.com')
2020-09-10 16:18:23,756 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,757 INFO sqlalchemy.engine.base.Engine ('Suryarao Bethapudi', 'sbethapudi', 'shining.surya.d8@gmail.com')
2020-09-10 16:18:23,758 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,759 INFO sqlalchemy.engine.base.Engine ('T Prabu', 'prabu', 'prabu@rri.res.in')
2020-09-10 16:18:23,761 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,762 INFO sqlalchemy.engine.base.Engine ('Yashwant Gupta', 'ygupta', 'ygupta@ncra.tifr.res.in')
2020-09-10 16:18:23,764 INFO sqlalchemy.engine.base.Engine INSERT INTO members (name, username, email) VALUES (?, ?, ?)
2020-09-10 16:18:23,765 INFO sqlalchemy.engine.base.Engine ('Yogesh Maan', 'ymaan', 'ymaan4@gmail.com')
2020-09-10 16:18:23,770 INFO sqlalchemy.engine.base.Engine COMMIT

In [103]:
m = session.query(Member).filter_by(name='Abhimanyu Susobhanan').first()

2020-09-10 16:18:25,419 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-10 16:18:25,425 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.name = ?
 LIMIT ? OFFSET ?
2020-09-10 16:18:25,427 INFO sqlalchemy.engine.base.Engine ('Abhimanyu Susobhanan', 1, 0)

In [111]:
def user_from_uname(uname):
    return session.query(Member).filter_by(username=uname).one()

In [123]:
user_from_uname('achoudhary')

2020-09-10 16:25:12,904 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:25:12,907 INFO sqlalchemy.engine.base.Engine ('achoudhary',)

In [125]:
proposals = [Proposal(number=proposal_id.strip(), cycle_number=cycle_number.strip(), title=title.strip(), PI=user_from_uname(pi_uname.strip()), telescope=gmrt) for proposal_id, cycle_number, title, pi_uname in proposalinfs]

2020-09-10 16:26:29,653 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,661 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,671 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,675 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,680 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,682 INFO sqlalchemy.engine.base.Engine ('achoudhary',)
2020-09-10 16:26:29,687 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,690 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,695 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,697 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,703 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,704 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,723 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,724 INFO sqlalchemy.engine.base.Engine ('ygupta',)
2020-09-10 16:26:29,726 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,727 INFO sqlalchemy.engine.base.Engine ('ygupta',)
2020-09-10 16:26:29,730 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,731 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,733 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,734 INFO sqlalchemy.engine.base.Engine ('ygupta',)
2020-09-10 16:26:29,736 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,737 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,739 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,739 INFO sqlalchemy.engine.base.Engine ('ygupta',)
2020-09-10 16:26:29,741 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,742 INFO sqlalchemy.engine.base.Engine ('bcj',)
2020-09-10 16:26:29,744 INFO sqlalchemy.engine.base.Engine SELECT members.id AS members_id, members.name AS members_name, members.username AS members_username, members.email AS members_email
FROM members
WHERE members.username = ?
2020-09-10 16:26:29,748 INFO sqlalchemy.engine.base.Engine ('bcj',)

In [72]:
Proposal

In [58]:
session.add_all(proposals)
session.rollback()
session.commit()

2020-09-10 16:07:31,055 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [59]:
pro = session.query(Proposal).filter_by(number='38_014').first()

2020-09-10 16:07:31,606 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-10 16:07:31,614 INFO sqlalchemy.engine.base.Engine SELECT proposals.number AS proposals_number, proposals.cycle_number AS proposals_cycle_number, proposals.title AS proposals_title, proposals.telescope_id AS proposals_telescope_id, proposals.pi_id AS proposals_pi_id, proposals.file AS proposals_file
FROM proposals
WHERE proposals.number = ?
 LIMIT ? OFFSET ?
2020-09-10 16:07:31,617 INFO sqlalchemy.engine.base.Engine ('38_014', 1, 0)

In [60]:
for Proposal in session.query(Proposal).order_by(Proposal.number):
    print( Proposal.number,Proposal.cycle_number, Proposal.title,Proposal.pi_id)

2020-09-10 16:07:32,478 INFO sqlalchemy.engine.base.Engine SELECT proposals.number AS proposals_number, proposals.cycle_number AS proposals_cycle_number, proposals.title AS proposals_title, proposals.telescope_id AS proposals_telescope_id, proposals.pi_id AS proposals_pi_id, proposals.file AS proposals_file
FROM proposals ORDER BY proposals.number
2020-09-10 16:07:32,485 INFO sqlalchemy.engine.base.Engine ()
37_066 37 Bla bla 1